body{
  background-color:black
}
h2{
  background-color:DodgerBlue;
  color:black;
  border: DodgerBlue solid 5px;
  font-family: arial, Sans-Serif
}
p{
  font-family: arial, Sans-Serif
}
a{
  color:powderblue;
}
.mystyle{
  background-color:WhiteSmoke;
  border: solid WhiteSmoke 5px;
}
.mystyle p{
  background-color:white;
  border-left:DodgerBlue 5px solid;
  box-shadow: 5px 5px 2.5px #888888;
}
.display{
  border:solid 1px white;
  background-color: black;
  color:white;
}
#p2{
  background-color: DodgerBlue;
  color:black;
}
#p3{
  box-shadow:5px 5px 2.5px #999999;
  border-left:DodgerBlue solid 5px;
  background-color: white;
}
.t1 td,.t1 th{
  color:white;
  border:white solid 1px;
  font-family:Arial, Sans-Serif;
  
}
 .t1 th{
   background-color:DodgerBlue;
   color:black;
 }
