p{
  color:red;
}
h1 {
  color:blue;
  font-family: verdana;
}
#id1 {
  color:green;
  font-family:Times New Roman;
}
#id2 {
  color:orange;
  font-family:Arial;
}
.bluev p{
  color:green;
  font-family: verdana;
}
.center {
  text-align:center;
  color:red;
}
