body{
  background-color:powderblue;
}
.table,td,th{
  border:solid black 2px;
  border-collapse:collapse;
}
.table{
  margin:auto;
  float:center;
}
.mythoughts{
  float:left;
  border:#009999 solid 2px;
  width:300px;
  text-align:center;
}
.summary{
  float:right;
  border:#009999 solid 2px;
  width:300px;
  text-align:center;
}
iframe{
  width:660px;
  height:250px;
  float:center;
}
